header {
    background-image: linear-gradient(to right, rgb(22, 76, 121) , rgb(34, 18, 90));
    color: white;
    padding: 7px;
}

.container {
    padding: 15px;

}

.conditions {
   line-height: 30px;
   padding: 10px;
}

button {
    margin-top: 10px;

}